#form {
    display: flex;
    flex-direction: column;
    color:var(--text2);
    padding: 15px;
    align-items: center;
    justify-content: center;
}
#form form{
    padding: 15px;
}
.form__name-container{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.form__input-name{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
 
}
.form__input-surname{
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}
.form__input-name input{
    width: 270px;
    padding: 10px;
}
.form__input-surname input{
   width: 270px; 
   padding: 10px;
}
.form__input-name label{
    padding-bottom: 10px ;

}
.form__input-surname label{
    padding-bottom: 10px ;

}


.form__najlepsze-title{
    display:flex;
    padding-bottom: 10px;
}
.form__ulubione_danie input{
    width: 200px;
}
.form__ulubione_danie-title{
    display: flex;
    padding-bottom: 10px;
}
#form{
    padding: 50px;
    border-top: 6px solid var(--primary2);
}
