#naglowek  {
    color: var(--accent2);
    font-size: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logowanie a {
    font-size:20px ;
    color:var(--text2);
    text-decoration: none;
    border: 3px solid var(--primary2);
    border-radius: 6px;
}